[submodule "css-exercises"]
	path = css-exercises
	url = git@github.com:lethuptit/css-exercises.git
[submodule "javascript-exercises"]
	path = javascript-exercises
	url = git@github.com:lethuptit/javascript-exercises.git

[submodule "Projects/queue-app"]
	path = Projects/queue-app
	url = https://github.com/nageeb-damani/queue-app.git
[submodule "Projects/My-Queue"]
	path = Projects/My-Queue
	url = https://github.com/lethuptit/My-Queue.git
[submodule "Capstone/My-Queue"]
	path = Capstone/My-Queue
	url = https://github.com/lethuptit/My-Queue.git
