:root{
    --color: rgb(164,164,164);
    --text-color: black;
}

@font-face
{
    font-family: "Norse Bold";
    src: url(fonts//Norse-Bold.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    color: var(--txt);
  
    /* outline: 1px solid red; */
  }

  .contain{
    display: flex;
  }

  .left-container{
    width: 100vw;
    height: 100vh;
  }

  .left-container, .left-container-logo, .main-container {
    display: flex;
    flex-flow: row wrap;
  }

  .left-container-background{
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 31vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .left-container-logo{
    height: auto;
    background-color: rgba(35, 34, 37, 0.418);
    position: relative;
    top: 30vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;   
  }

  .left-container-logo-image{
    height: 15vh;
  }

  h1{
    color: white;
    font-family: "Norse Bold", sans-serif;
    font-size: 60px;
  }

  .left-container-footer{
    height: 5vh;
    color: wheat;
    text-align: center;
  }

  /* Main container   */
  .main-container{
    width: 200vw;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .main-container-intro{
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  
  .form {
    box-shadow: 0 10px 20px -2px grey;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  
  .form-title{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 20px;
  }

  .form-input {
    display: flex;
    flex-flow: column wrap;
    width: 49%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
    margin-left: 10px;
  }

  input {
    background-color: whitesmoke;
    border: 2px solid var(--color);
    border-radius: 3px;
    font-size: 1.2rem;
    color: blue;
  }
  
  input:focus {
    outline: none;
    border: 2px solid black;
  }

  button{
    background-color: #596D48;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--color);
    border-radius: 5px;
     padding: 10px 40px;
    margin: 40px 0;
  }
  button:hover {
    background-color: grey;
    color: white;
    border: 2px solid black;
  }
  .login{
    display: flex;
    flex-flow: row wrap;
  }
  .error {
    border: 1px solid red;
  }
  
  .error_message{
    color: rgb(143, 13, 13);
    font-size: 12px;

  }
